.ASSURE legend {
    color: #fff;
    background-color:#aaaaaa;
}

.B93 legend {
    background-color:#79bb92;
}
.B101 legend {
    background-color:#f4c931;
}
.B106 legend {
    background-color:#d35e3c;
}
.B108 legend {
    background-color:#df9ab1;
}
.B110 legend {
    background-color:#67328e;
}
.B144 legend {
    background-color:#c5a3ca;
}
.B201 legend {
    background-color:#8e6538;
}

.RA legend {
    color: #fff;
    background-color:#ed1c2a;
}

.T2 legend {
    color: #fff;
    background-color:#bb4b9b;
}
