html, 
body,
article {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
}

section {
    margin: 4px;
    position: absolute;
}

section.traffic {
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
}

section.traffic img {
    max-width: 100%;
    height: auto;
}

section.weather {
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
}

section.weather > div {
    white-space: nowrap;
    overflow-x: auto;
}

section.weather li:first-of-type .temperature {
    font-weight: bold;
}

section.transport {
    width: 220px;
    top: 40px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section.news {
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.right {
    right: 0;
}

section.left {
    left: 0;
}

section.transport fieldset {
    display: block;
    background-color: #333;
    color: #DD3;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

section.transport output {
    right: 8px;
    text-align: right;
    position: absolute;
    padding: 0 2px 0 1em;
    background-color: #333;
}

section.transport div + div {
    border-top: 1px solid #DD3;
}

section.transport .code {
    font-weight: bold;
    margin-right: 4px;
}

section.transport .important {
    background-color: #DD3;
    color: #333;
    text-align: center;
}
/*
section.transport .important {
    text-align: right;
}
*/
section.transport .important label {
    display: none;
}

section.news li {
    display: none;
    text-shadow: #333 0 0 8px, #000 0 0 1px;
    color: #EEE;
    padding: 2px;
}

section.news li:first-child {
    display: inline;
}

section.index {
    top: 0;
    right: 0;
    left: 0;
    flex-wrap: wrap;
}

section.index a {
    margin: 1em;
    padding: 1em;
    height: auto;
    font-size: 2em;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    border: 1px solid #333;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

section.index a:hover {
    background-color: #AAA;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-align: center;
}

li .temperature {
    margin: 0 1em;
}

.center {
    text-align: center;
}

ul,
.flex {
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    align-content: stretch;
}

li,
.flex > rain,
.flex > a {
    flex-grow: 1;
    display: block;
    height: 1em;
}

rain + span {
    opacity: 0.3;
    margin: 0 4px;
}

fieldset {
    border: 2px solid #AAA;
    overflow-x: hidden;
    width: 200px;
    margin: 0;
    padding: 8px;
}

fieldset div[data-connector] {
    width: 200px;
    overflow: hidden;
}

fieldset div[data-connector]:empty {
    content: "pas d'information";
}

fieldset label,
legend {
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

legend {
    color: #000;
    border-radius: 1px;
    padding: 0 4px;
    margin-top: 4px;
}

img,
li,
section.news li,
.flex > rain {
    border-radius: 4px;
}



@media only screen and (max-width: 600px) and (orientation:landscape) {
    section.transport {
        width: 110px;
        font-size: 9px;
    }
    
    fieldset {
        width: 100px;
        border: 1px;
        padding: 2px;
    }

    section.transport output {
        right: 8px;
    }

    fieldset div[data-connector] {
        width: 100px;
    }

    fieldset label,
    legend {
        max-width: 90px;
    }

    legend {
        padding: 0 2px;
        margin-top: 2px;
    }

    output {
        text-shadow: #000 0 0 1px;
    }
}



@media only screen and (max-width: 600px) and (orientation:portrait) {
    section {
        position: relative;
    }
    
    section.traffic,
    section.transport {
        top: 0;
    }
    
    section.transport {
        width: auto;
    }
    
    fieldset {
        width: auto;
        border: 1px;
        padding: 2px;
    }

    section.transport output {
        right: 8px;
    }

    fieldset div[data-connector] {
        width: auto;
    }

    fieldset label,
    legend {
        max-width: auto;
    }
    
    section.news {
        overflow: visible;
    }

    section.news ul {
        display: block;
    }

    section.news li {
        display: block;
        overflow: hidden;
        text-shadow: none;
        color: #333;
        text-overflow: ellipsis;
        text-align: left;
    }

    section.news li:first-child {
        display: block;
    }
    
    section.news li:nth-child(2n) {
        background-color: rgba(0,0,0,0.1);
    }
}
